
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                <div class="logo-img">
                    <img src="../../assets/img/duke.png" alt="">
                </div>
                JMP
            </a>
        </div>
        <ul class="nav">
            <li routerLinkActive="active">
                <a  [routerLink]="[menuItems[0].path]">
                    <i class="{{menuItems[0].icon}}"></i>
                    <p>{{menuItems[0].title}}</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="[menuItems[1].path]">
                    <i class="{{menuItems[1].icon}}"></i>
                    <p>{{menuItems[1].title}}</p>
                </a>
            </li>
        </ul>
</div>
