    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create mentor</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input [(ngModel)]="mentor.firstName" name="firstName" type="text" class="form-control border-input" placeholder="First Name" required="true" aria-required="true" aria-invalid="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input  [(ngModel)]="mentor.lastName" name="lastName" type="text" class="form-control border-input" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input [(ngModel)]="mentor.email" name="email" type="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Main skill</label>
                                        <input [(ngModel)]="mentor.mainSkill" name="mainSkill" type="text" class="form-control border-input" placeholder="Skill">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Developer level</label>
                                        <input [(ngModel)]="mentor.level" name="developerLevel" type="text" class="form-control border-input" placeholder="Level">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" (click) = create() class="btn btn-info btn-fill btn-wd">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
